@media only screen and (min-width: 1381px) {
	/* Header */
	.logo 			{ float:left; }
		.logo img  	{ max-width:212px; }
	.nav  			{ float:right; }

}

@media only screen and (max-width: 1380px) {
	/* Header */
	.logo 			{ float:left; }
		.logo img  	{ max-width:170px; }
	.nav 			{ float:right; }
}

@media only screen and (min-width: 980px) and (max-width: 1200px) {
	/* Header */
	.logo 			{ float:left; }
		.logo img  	{ max-width:170px; }
	.nav 			{ float:right; }
		.nav ul li 	{ margin:0 23px; }

	.service-block h3 { font-size:21px; }

	.contact_logo { max-width:80%; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* Ipad Portrait 768 Container 750 */
	body { font-size:13px; }
	p { line-height:20px ; }
	h2 { font-size:30px; }
	h6 { font-size:16px; }
	h3 { font-size:15px; }
	/* Header */
	.header h1{ font-size:46px; }
	.main-nav ul li a { padding:14px; }
	.small-logo { padding:0 20px; }
	.logo { float:inherit; max-width:100%; margin-bottom:1em; }
	.main-nav { display:block !important; }
	.main-nav li a { padding:8px 15px; }
	.nav { float: inherit; }
	.nav ul li { margin:0 20px; }
	/* Home */
	.home-text { padding: 60px 50px; }
	.parallax-slider { margin-top:26px; }
	/* Domaines */
	#domaines .container { width: 778px; }
	#domaines h3 { font-size:15px; }
	/* Team */
	.main-section { padding:70px 0; }
	/* Services */
	.service-block { margin:0 0 35px 0; }
	.service-list { margin-bottom:20px; font-size:15px; }
	#service { padding:40px 0px; }
	.service_area { padding:40px 0px; }
	/* Contact */
	.form { margin:0; }
	.contact_section .row > div { margin-bottom:30px; }
	.contact-info-box { margin:0; }
	.contact_logo { max-width:40%; }
}

@media only screen and (max-width: 767px) {
	body { font-size:12px; }
	h2 { font-size:26px; }
	h3 { font-size:14px; }
	h6 { font-size:16px; margin-bottom:40px; }
	p { line-height:18px; }
	/* Animate CSS */
	.animated {
		/* CSS transitions */
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/* CSS transforms */
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/* CSS animations */
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.wow {
		visibility: visible !important;
		-webkit-animation: none !important;
	    -moz-animation: none !important;
	    -o-animation: none !important;
	    -ms-animation: none !important;
	    animation: none !important;
	}
	/* Header */
	.header h1 { font-size:28px; }
	.header { padding:60px 0; }
	.main-section { padding:60px 0 70px; }
	.logo { float:none; width:150px; margin:0px auto 10px; }
		.logo img { width:100%; }
	.nav { float:none; position:absolute; width:100%; top: 73px; }
	.nav ul li { border-bottom:1px solid #CCC; display:block; float:none; width:100%; margin:0px; text-align:center; }
	.nav ul li a { padding:6px 0px }
	.nav ul { background:#fff; display:none; }
	.nav ul.toggle {
		display:none;
		visibility:visible;
		height:auto;
		overflow:auto;
		}
	/* Home */
	.home-text { padding: 60px 50px; }
	/* Services */
	#service .overview h1 { font-size: 28px; }
	#service .overview p { font-size: 18px; }
	/* Mobile Landscape 480 Container 100% */
	/* Services */
	#service { padding:20px 0px; }
	.service_area { padding:25px 0px; }
	.service-block { margin:0 0 40px 0; }
	.work_section { padding:44px 0px 10px }
	.service-list { font-size:12px; margin-bottom:20px; }
	/* Team */
	.main-section.team { padding:60px 0 50px; }
	/* Contact */
	.contact-info-box { font-size:12px; }
	.contact-info-box span { line-height:18px; }
	.form { margin:0 30px; }
	.link { font-size:14px; padding:10px 25px; }
	.main-section.contact { background-size:contain; }
	toggle.ul { background:#fff; width:100%; }
	.contact_section .row > div  { margin-bottom:30px; }
}

@media only screen and (max-width: 479px) {
	/* Home */
	.home-text h1 	{ font-size: 38px; }
	.home-text p 	{ font-size: 23px; }
	/* Mobile Portrait 320 */
	.contact-info-box { margin-left:0px; }
	.form { margin:0}
}

