@charset "utf-8";
/* CSS Document */

/* Float Elements
---------------------------------*/
.fl-lt { float:left; }
.fl-rt { float:right; }

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after { clear:both; }
.figure { margin:0px; }
ul { list-style:none; }
img { max-width:100%; }
a, a:hover, a:active{ outline:0px !important }

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Primary Styles
---------------------------------*/
body {
	background:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	font-weight:300;
	color:#888888;
	margin:0;
}
b {
 	color:#636363
}
h1 {
	font-size:38px;
	color:#888888;
	font-weight:normal;
}
h2{
	font-size:38px;
	color:#222222;
	font-weight:700;
	margin:35px 0 25px 0;
	text-align:center;
	text-transform:uppercase;
}
h3{
	font-weight: 600;
	color:#222222;
	font-size:16px;
	margin:0 0 5px 0;
	text-transform:uppercase;
}
h6{
	font-size:16px;
	color:#888888;
	font-weight:400;
	text-align:center;
	margin:0 0 60px 0;
}
p { line-height:24px; margin:0; }
section { padding-top:50px; padding-bottom:70px; }


/* Header Styles
---------------------------------*/
#header_outer { background-color:rgba(255, 255, 255, .9); padding:15px 0px; text-align:center; }

.logo { display:block; text-align:center; }

/* Nav Styles
---------------------------------*/
.nav { margin-top:1em; }
	.nav ul 		{ list-style:none; padding:0px; }
	.nav ul.toggle 	{
		overflow:hidden;
		display:none;
		visibility:hidden;
		height:0px;
		margin-bottom: 0;
	}
		.nav ul li 				{ display:inline-block; margin: 0 23px; }
		.nav ul li:last-child 	{ margin:0 0 0 23px; }
			.nav ul li a {
				display:block;
				font-size:14px;
				color:#222222;
				text-decoration:none;
				text-transform:uppercase;
				font-weight:400;
				transition:all 0.2s ease-in-out;
				-moz-transition:all 0.2s ease-in-out;
				-webkit-transition:all 0.2s ease-in-out;
			}
			.nav ul li a:hover{
				color:#49b5e7;
			}
			.nav ul li a.active{
				color:#49b5e7;
			}

/* Home
---------------------------------*/
.parallax-window {
	max-height: 100%;
}

#home {
	position:relative;
	padding: inherit;
}

.home-text {
	padding: 150px 50px;
	background-color: rgba(255, 255, 255, .75);
}

.home-text h1 {
	font-size: 60px;
}

.home-text p {
	margin-top: 32px;
	font-size: 32px;
    line-height: 1.2;
    font-weight: 200;
    color: #8B8B8B
}

a.learn_more2{
	display:block;
	font-size:16px;
	color:#ffffff;
	background:#49b5e7;
	width:178px;
	height:46px;
	line-height:46px;
	border-radius:3px;
	text-align:center;
	text-transform:uppercase;
	font-weight: 600;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	}
a.learn_more2:hover{
	background:#222222;
	}


/* Services
---------------------------------*/
#service .overview {
	text-align: center;
}

#service .slogan {
	margin: 40px 10%;
	font-size: 24px;
	line-height: 1.4;
	font-weight: 300;
}

.service_area{
	padding:40px 0 40px;
}

.service-block{
	text-align:center;
	padding-left: 15px;
    padding-right: 15px;
}

.service-block h3{
	font-weight: 500;
	font-size:24px;
	color:#111111;
	margin:35px 0 18px;
	text-transform:inherit;
}

.service-block p{
	font-size:16px;
	color:#888888;
	margin:0px;
}

.service-icon{
	border-radius:50%;
	width:90px;
	height:90px;
	margin:0px auto 25px;
}

.service-icon.icon2{
}

.service-icon.icon3{
}

.service-icon span {
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}
.service-icon i{
	color: #fff;
    font-size: 40px;
    margin-top: 0;
    position: relative;
    top: 14px;
    z-index: 20;
}


/* Domaines
---------------------------------*/
#domaines{
	background:#f9f9f9;
	position:relative;
}

.service-list{
	padding:0 0 0 0;
	font-size:14px;
	margin-bottom:40px;
}
.service-list h3 {
	font-weight:500;
    font-size: 17px;
    text-transform:inherit;
}

.service-list-col1{
	float:left;
	width:60px;
	text-align:center;
}
.service-list-col1 i{
	color:#888;
	font-family: 'linecons';
	font-size: 19px;
    font-style: normal;
    line-height: 20px;
}
.service-list-col1 i.fa{
	font-family: 'FontAwesome';
}
.service-list-col2{
	overflow:hidden;
}

img {
   max-width:100%;
}

/* Gallery
---------------------------------*/
#gallery #links {
	margin-top: 50px;
	text-align: center;
}

/* Team
---------------------------------*/
.team{
	background-color: #f9f9f9;
}
.main-section.team h6{
	margin-bottom:40px;
}
.team-leader-block{
	max-width:993px;
	margin:40px auto 0;
}
.team-leader-box{
	width:30.66%;
	margin-right: 3.82979%;
	height: 490px;
	overflow: hidden;
	text-align: center;
	float: left;
}
.team-leader-box span{
	margin-bottom:24px;
	display:block;
}
.team-leader-box:nth-of-type(3n+0){ margin:0;}
.team-leader{
	width:auto;
	height:auto;
	position:relative;
	border-radius:50%;
	box-shadow:0px 0px 0px 7px rgba(241,241,241,0.80);
	margin:7px 7px 25px 7px;

}
.team-leader-shadow{
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	border-radius:50%;
	position:absolute;
	width:100%;
	height:100%;
	z-index:10;
	border-radius:50%;
}
.team-leader-shadow a{
	display:block;
	width:100%;
	height:100%;
}
/*.team-leader:hover .team-leader-shadow{
	box-shadow:inset  0px 0px 0px 148px rgba(17,17,17,0.80);
}
.team-leader:hover ul{ display:block; opacity:1}*/
.team-leader img{
	display:block;
	border-radius:50%;
}
.team-leader ul{
	display:block;
	opacity:0;
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	text-align:center;
	margin-top:-14px;
	z-index:15;
	transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	-webkit-transition:all 0.6s ease-in-out;
}
.team-leader ul li{
	display:inline;
	margin:0 11px;
}
.team-leader ul li a{
	font-family: 'FontAwesome';
	display:inline-block;
	font-size:28px;
	color:#fff;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.team-leader ul li a:hover, .team-leader ul li a:focus{
	text-decoration:none;
}
.team-leader ul li a.fa-twitter:hover{
	color:#55acee;
}
.team-leader ul li a.fa-facebook:hover{
	color:#3b5998;
}
.team-leader ul li a.fa-pinterest:hover{
	color:#cb2026;
}
.team-leader ul li a.fa-google-plus:hover{
	color:#dd4b39;
}

/* Temporary for 1 person */
.team-leader {
	width:293px;
    margin:auto;
    margin-bottom:24px;
    text-align:center;
}

.team-leader-block div * {
	text-align:center;
}

.team-leader-block div span {
	display:block;
}

.twitter-feed{
	background:#00b8ff;
	padding:40px 0;
	text-align:center;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.twitter-feed:hover {
	background: #f56eab;
}

.twitter-feed p{
	font-size:16px;
	font-weight: 300;
	color:#ffffff;
	margin:0 0 15px 0;
	}

.twitter_bird{
	/*background:url(../img/twitter_bird.png) no-repeat left top;*/
	width:36px;
	margin:0px auto 15px;
	}

.twitter-feed p small{
	font-size:16px;
	font-weight: 300;
	color:#ffffff;
	display:inline-block;
	}

.twitter-feed span{
	display:block;
	font-size:14px;
	font-style: italic;
	color:#ffffff;
	}

.twitter-feed span i{
	font-size: 38px;
}


/* Contact
---------------------------------*/
.main-section.contact{
	padding:90px 0 100px;
}

.contact_section{ margin:0 0 50px 0; }
	.contact_section .row { margin-top: 40px; }
		.contact_section .row > div { text-align: center; }
			.contact_section .row > div b { font-size: 22px; }
			.contact_section .row > div p { font-size: 16px; }

.contact-info-box{ font-size:15px; text-align:center; }
	.contact-info-box h3 { font-size:24px; font-weight:600; margin:0 0 40px; }
	.contact-info-box p { display:block; line-height:28px; font-size:16px; margin:0 0 40px; }

.form{ margin:0 66px 0 30px; }
.input-text{
	padding:15px 16px;
	border:1px solid #ccc;
	width:100%;
	height:50px;
	display:block;
	border-radius:4px;
	font-size:15px;
	color:#aaa;
	margin:0 0 15px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
	border: 1px solid #7cc576;
	outline:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area{
	height:230px;
	resize:none;
	overflow:auto;
}
.input-btn{
	width:175px;
	height:50px;
	letter-spacing: 0px;
	background:#7cc576;
	border-radius:3px;
	color:#ffffff;
	font-size:16px;
	text-transform:uppercase;
	font-weight:600;
	border:0px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.input-btn:hover{
	background:#6BAD66;
}

.gmaps {
	width: 100%;
	height: 400px;
}

form input[type="text"][disabled], form textarea[disabled] {
    background:#fff
}
form input[type="text"].error, form textarea.error {
    background:#e6e6e6;
    border-color:#c0392b
}
fieldset {
    border:0px;
    margin:0;
    padding:0
}
.required {
    color:#e9266d
}
#success, #error {
    display:none
}
#success span p, #error span p {
    margin-top:6em
}
#success span p {
  color:#9bd32d;
}
#error span p {
  color:#c0392b;
}

/* Copyright
---------------------------------*/
.copyright{
	padding-top:30px;
	text-align:center;
	font-size:14px;
	color:#cccccc;
}

/* Animation Timers
---------------------------------*/
.delay-02s {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
.delay-03s {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
.delay-04s {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

.delay-05s {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
.delay-06s {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}

.delay-07s {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}
.delay-08s {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}

.delay-09s {
	animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
}
.delay-1s {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.delay-12s {
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}
